[Desktop Entry]
Name=Wrye Bash
Comment=A swiss army knife for modding Bethesda games
Exec=wrye-bash %F
Icon=io.github.wrye_bash.wrye-bash
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=wrye-bash
Categories=Utility;FileTools;X-ModManager;